<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) Misha Medzhytov <mdg12v@gmail.com>, All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="mdg_invoice" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Invoice Payment</label>

                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Title</label>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>
                    <field id="instructions" translate="label" type="textarea" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Instructions</label>
                        <comment>Will be showed on payment page</comment>
                    </field>
                    <field id="invoice_instructions" translate="label" type="textarea" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Invoice Instructions</label>
                        <comment>Will be showed on invoice PDF</comment>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="98" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Minimum Order Total</label>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Maximum Order Total</label>
                    </field>

                <group id="settings" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="200">
                    <label>Invoice Settings</label>
                    <attribute type="expanded">1</attribute>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>

                    <field id="invoice_receiver_name" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Receiver Name</label>
                    </field>
                    <field id="invoice_receiver_idn" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Receiver IDN</label>
                    </field>
                    <field id="invoice_receiver_cor" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Receiver COR</label>
                    </field>
                    <field id="invoice_receiver_accnum" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Receiver Account Number</label>
                    </field>
                    <field id="invoice_receiver_bank_name" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Receiver Bank Name</label>
                    </field>
                    <field id="invoice_receiver_bank_bin" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Receiver Bank BIN</label>
                    </field>
                    <field id="invoice_receiver_bank_accnum" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Receiver Bank Account Number</label>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
